body {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.sign-up .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding: 8px;
}

.content {
    display: flex;
    
}

ul, .text {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}